/* CSS FILE */
/* Case types used: flatcase and kebab-case */

/* TODO: change all classes case types to kebab-case */

/* GLOBAL */
/* -------------------------------------------------------------------------- */
body {
  background-color: #13171f; 
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}
main {
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;  
}
article h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;  
}
article h4 {
  font-family: 'Montserrat', sans-serif;
}
footer{
  text-align: center;
}
footer p{
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* -------------------------------------------------------------------------- */

/* HEADER */
/* -------------------------------------------------------------------------- */
.cyberkit_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between the logo and the title */
  margin-bottom: 8px;
  padding-top: 40px;
}
.cyberkit_logo {
  width: 58px;
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 23px;
  margin-right: 2px;
}
#cyberkit_title_text{
  font-family: 'Montserrat', sans-serif;
  color: #017FC0;  /* Pico CSS Color: Azure 500 */
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 2px;
}
#cyberkit_title_text { 
  transition: all 0.25s ease-in-out; /* Smooth transition for all properties */
}
#cyberkit_title_text.modified {
  transform: scale(1.05) translateY(-3px); /* Slightly enlarge and move up the modified text */
  text-shadow: 0 0 5px #017FC0; /* Add a subtle glow effect */
  letter-spacing: 10px;
}
.glow {
  animation: subtleGlowEffect 1s ease-in-out;
  color: #017FC0; /* Glow color */
}
@keyframes subtleGlowEffect {
  0% {
    text-shadow: 0 0 1px #017FC0, 0 0 2px #017FC0;
  }
  100% {
    text-shadow: 0 0 2px #017FC0, 0 0 3px #017FC0;
  }
}
.cyberkit_slogan{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 30px;
}
.cyberkit_slogan span{
  font-weight: 700;
}
/* -------------------------------------------------------------------------- */

/* CARDS */
/* -------------------------------------------------------------------------- */
.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: #282828;
  padding: 24px;
  margin-bottom: 50px;
  border-radius: 12px; 
  box-shadow: 0px 5px 0px #f2f2f2;
  width: 70%;
}
.last-card{
  margin-bottom: 0;
}
.generate-password-btn{
  display: flex;
  align-items: center;
  margin-left: 1px;
  height: 50px;
  font-weight: 500;
}
.password-tester-input-box{
  border-radius: 8px;
}
.encryption-title-text{
  margin-left: 4px;
  font-size: 24px;
  text-decoration: underline;
}
.encryption-textarea{
  border-radius: 8px;
  min-height: 150px;
  max-height: 300px;
  resize: none;
  field-sizing: content; /* TODO: Check if compatible with all browsers */
}
.encryption-submit-btn{
  display: flex;
  align-items: center;
  margin-left: 2px;
  height: 50px;
  font-weight: 500;
}
.decryption-title-text{
  margin-left: 4px;
  margin-top: 60px;
  font-size: 24px;
  text-decoration: underline;
}
.decryption-textarea{
  border-radius: 8px;
  min-height: 150px;
  max-height: 300px;
  resize: none;
  field-sizing: content; 
}
.decryption-submit-btn{
  display: flex;
  align-items: center;
  margin-left: 2px;
  height: 50px;
  font-weight: 500;
}
/* -------------------------------------------------------------------------- */

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */
/* -------------------------------------------------------------------------- */
@media (max-width: 650px) {
  .cyberkit_logo {
    width: 40px; /* Default size for larger screens */
    height: auto; /* Maintain aspect ratio */
  }
  #cyberkit_title_text {
    font-size: 54px;
  }
  .cyberkit_slogan {
    font-size: 28px;
  }
}

/* TODO: Make the full website responsive */

/* -------------------------------------------------------------------------- */