@tailwind base;
@tailwind components;
@tailwind utilities;

#dynamic-text {
    transition: opacity 0.3s ease; /* Smooth fade transition */
  }
  
  #dynamic-text.glitch {
    animation: glitch 1s linear infinite; /* Apply glitch animation when the class is added */
  }
  
  @keyframes glitch {
    2%, 64% {
      transform: translate(2px, 0) skew(0deg);
    }
    4%, 60% {
      transform: translate(-2px, 0) skew(0deg);
    }
    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
  
  #dynamic-text.glitch:before,
  #dynamic-text.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #dynamic-text.glitch:before {
    color: #f0f; /* Example glitch color 1 */
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop {
    2%, 64% {
      transform: translate(2px, -2px);
    }
    4%, 60% {
      transform: translate(-2px, 2px);
    }
    62% {
      transform: translate(13px, -1px) skew(-13deg);
    }
  }
  
  #dynamic-text.glitch:after {
    color: #0ff; /* Example glitch color 2 */
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom {
    2%, 64% {
      transform: translate(-2px, 0);
    }
    4%, 60% {
      transform: translate(-2px, 0);
    }
    62% {
      transform: translate(-22px, 5px) skew(21deg);
    }
  }