<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico-main/css/pico.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon2.png') }}" type="image/png">
    <title>TheCyberKit</title>
  </head>

  <body>
    <main class="container">
      <header>
        <div class="cyberkit_title">
          <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="TheCyberKit Logo" class="cyberkit_logo">
          <h1>
            <span id="cyberkit_title_text" data-text="TheCyberKit">TheCyberKit</span>
          </h1>
        </div>
        <h2 class="cyberkit_slogan">
          Your Suite of Cybersecurity Tools
        </h2>
      </header>
  
      <section class="cards">
        <article class="card">
          <h3>Password Generator</h3>
          <p>
            Create strong, unique passwords effortlessly.
          </p>
          <button>Generate</button>
        </article>
        <article class="card">
          <h3>Password Tester</h3>
          <p>
            Think you have a strong password? Find out below.
          </p>
          <input class="text_input_box" type="text" name="text" placeholder="Enter your password..." aria-label="Text">
        </article>
        <article class="card">
          <h3>Encryption / Decryption</h3>
          <p>
            Securely encrypt and decrypt any text.
          </p>
          <input class="text_input_box" type="text" name="text" placeholder="Enter your text..." aria-label="Text">
        </article>
      </section>
    </main>
  
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>

</html>